<div style="border:solid Chocolate 2px; padding: 40px">

<b> –ê–ª–µ–∫—Å–∞–Ω–¥—Ä, –ø—Ä–∏–≤–µ—Ç!üëã</b>

–ú–µ–Ω—è –∑–æ–≤—É—Ç –ê–ª–µ–∫—Å–µ–π –ì—Ä–∏–±, —è –±—É–¥—É —Ç–≤–æ–∏–º –º–µ–Ω—Ç–æ—Ä–æ–º –Ω–∞ –ø—Ä–æ—Ç—è–∂–µ–Ω–∏–∏ —Ñ–∏–Ω–∞–ª—å–Ω–æ–≥–æ —Å–ø—Ä–∏–Ω—Ç–∞:)
    
–°—Ä–∞–∑—É —Ö–æ—á—É –ø—Ä–µ–¥–ª–æ–∂–∏—Ç—å –≤ –¥–∞–ª—å–Ω–µ–π—à–µ–º –æ–±—â–∞—Ç—å—Å—è –Ω–∞ "—Ç—ã" - –Ω–∞–¥–µ—é—Å—å, —Ç–∞–∫ –±—É–¥–µ—Ç –∫–æ–º—Ñ–æ—Ä—Ç–Ω–µ–µ:) –ù–æ –µ—Å–ª–∏ —ç—Ç–æ –Ω–µ—É–¥–æ–±–Ω–æ, –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ –¥–∞–π –∑–Ω–∞—Ç—å, –∏ –º—ã –ø—Ä–∏–¥—É–º–∞–µ–º —á—Ç–æ-–Ω–∏–±—É–¥—å –µ—â—ë!
    
–¶–µ–ª—å –Ω–∞—à–µ–π —Ä–∞–±–æ—Ç—ã - –Ω–µ –∏—Å–∫–∞—Ç—å –æ—à–∏–±–∫–∏ –≤ —Ç–≤–æ—ë–º –ø—Ä–æ–µ–∫—Ç–µ, –∞ –ø–æ–º–æ—á—å —Ç–µ–±–µ —Å–¥–µ–ª–∞—Ç—å –µ–≥–æ –µ—â—ë –ª—É—á—à–µ, —É—Å—Ç—Ä–∞–Ω–∏–≤ –Ω–µ–¥–æ—á—ë—Ç—ã –∏ –ø—Ä–∏–±–ª–∏–∑–∏–≤ –µ–≥–æ –∫ —Ä–µ–∞–ª—å–Ω—ã–º –∑–∞–¥–∞—á–∞–º –∞–Ω–∞–ª–∏—Ç–∏–∫–∞. –ü–æ—ç—Ç–æ–º—É –Ω–µ —Ä–∞—Å—Å—Ç—Ä–∞–∏–≤–∞–π—Å—è, –µ—Å–ª–∏ —á—Ç–æ-—Ç–æ –Ω–µ –ø–æ–ª—É—á–∏–ª–æ—Å—å —Å –ø–µ—Ä–≤–æ–≥–æ —Ä–∞–∑–∞ - —ç—Ç–æ –Ω–æ—Ä–º–∞–ª—å–Ω–æ, –∏ —ç—Ç–æ –ø–æ–º–æ–∂–µ—Ç —Ç–µ–±–µ –≤—ã—Ä–∞—Å—Ç–∏!
    
–¢—ã –º–æ–∂–µ—à—å –Ω–∞–π—Ç–∏ –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏, –æ–±–æ–∑–Ω–∞—á–µ–Ω–Ω—ã–µ <font color='green'>–∑–µ–ª–µ–Ω—ã–º</font>, <font color='gold'>–∂–µ–ª—Ç—ã–º</font> –∏ <font color='red'>–∫—Ä–∞—Å–Ω—ã–º</font> —Ü–≤–µ—Ç–∞–º–∏, –Ω–∞–ø—Ä–∏–º–µ—Ä:

<br/>

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –º–µ–Ω—Ç–æ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ø–æ—Ö–≤–∞–ª–∞, —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ ¬´—Å–æ –∑–≤—ë–∑–¥–æ—á–∫–æ–π¬ª, –ø–æ–ª–µ–∑–Ω—ã–µ –ª–∞–π—Ñ—Ö–∞–∫–∏, –∫–æ—Ç–æ—Ä—ã–µ —Å–¥–µ–ª–∞—é—Ç –∏ –±–µ–∑ —Ç–æ–≥–æ –∫—Ä–∞—Å–∏–≤–æ–µ —Ä–µ—à–µ–Ω–∏–µ –µ—â—ë –±–æ–ª–µ–µ —ç–ª–µ–≥–∞–Ω—Ç–Ω—ã–º.
</div>

<br/>

<div class="alert alert-warning">
    <h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –º–µ–Ω—Ç–æ—Ä–∞ <a class="tocSkip"> </h2>
    
<b>–ù–µ–∫–æ—Ç–æ—Ä—ã–µ –∑–∞–º–µ—á–∞–Ω–∏—è –∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏‚ö†Ô∏è:</b> –Ω–µ–∫—Ä–∏—Ç–∏—á–Ω—ã–µ –æ—à–∏–±–∫–∏ –∏–ª–∏ —Ä–∞–∑–≤–∏–≤–∞—é—â–∏–µ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ –Ω–∞ –±—É–¥—É—â–µ–µ. 
</div>


<br/>
<div class="alert alert-block alert-danger">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –º–µ–Ω—Ç–æ—Ä–∞ <a class="tocSkip"></h2>

    
<b>–ù–∞ –¥–æ—Ä–∞–±–æ—Ç–∫—É‚ùå:</b>
–∫—Ä–∏—Ç–∏—á–Ω—ã–µ –æ—à–∏–±–∫–∏, –∫–æ—Ç–æ—Ä—ã–µ –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ –Ω—É–∂–Ω–æ –∏—Å–ø—Ä–∞–≤–∏—Ç—å.
</div>

–Ø –Ω–µ —Å–º–æ–≥—É –ø—Ä–∏–Ω—è—Ç—å –ø—Ä–æ–µ–∫—Ç, –µ—Å–ª–∏ –≤ –Ω—ë–º –±—É–¥–µ—Ç —Ö–æ—Ç—è –±—ã –æ–¥–Ω–∞ –∫—Ä–∏—Ç–∏—á–Ω–∞—è –æ—à–∏–±–∫–∞ –∏–ª–∏ –Ω–µ—Å–∫–æ–ª—å–∫–æ –Ω–µ–∫—Ä–∏—Ç–∏—á–Ω—ã—Ö –æ—à–∏–±–æ–∫ - —Ç–æ–≥–¥–∞ –ø—Ä–æ–µ–∫—Ç –Ω—É–∂–Ω–æ –±—É–¥–µ—Ç –Ω–µ–º–Ω–æ–≥–æ –¥–æ—Ä–∞–±–æ—Ç–∞—Ç—å. –ù–æ —ç—Ç–æ –Ω–µ—Å—Ç—Ä–∞—à–Ω–æ - —è –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ –¥–∞–º —Ç–µ–±–µ –ø–æ–¥—Å–∫–∞–∑–∫—É –∏–ª–∏ —É–∫–∞–∂—É –≤–µ—Ä–Ω–æ–µ –Ω–∞–ø—Ä–∞–≤–ª–µ–Ω–∏–µ.
    
–ü–æ–∂–∞–ª—É–π—Å—Ç–∞, –Ω–µ —É–¥–∞–ª—è–π –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏, –æ–Ω–∏ –±—É–¥—É—Ç –æ—Å–æ–±–µ–Ω–Ω–æ –ø–æ–ª–µ–∑–Ω—ã –¥–ª—è –Ω–∞—à–µ–π —Ä–∞–±–æ—Ç—ã –≤ —Å–ª—É—á–∞–µ –ø–æ–≤—Ç–æ—Ä–Ω–æ–π –ø—Ä–æ–≤–µ—Ä–∫–∏ –ø—Ä–æ–µ–∫—Ç–∞. 
    
–¢—ã —Ç–∞–∫–∂–µ –º–æ–∂–µ—à—å –∑–∞–¥–∞–≤–∞—Ç—å —Å–≤–æ–∏ –≤–æ–ø—Ä–æ—Å—ã, —Ä–µ–∞–≥–∏—Ä–æ–≤–∞—Ç—å –Ω–∞ –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏, –¥–µ–ª–∞—Ç—å –ø–æ–º–µ—Ç–∫–∏ –∏ –ø–æ—è—Å–Ω–µ–Ω–∏—è - –ø–æ–ª–Ω–∞—è —Ç–≤–æ—Ä—á–µ—Å–∫–∞—è —Å–≤–æ–±–æ–¥–∞! –ù–æ –º–∞–ª–µ–Ω—å–∫–∞—è –ø—Ä–æ—Å—å–±–∞ - –ø—É—Å–∫–∞–π –æ–Ω–∏ –±—É–¥—É—Ç –æ—Ç–ª–∏—á–∞—Ç—å—Å—è –æ—Ç –º–æ–∏—Ö –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–µ–≤, —ç—Ç–æ –ø–æ–º–æ–∂–µ—Ç –∏–∑–±–µ–∂–∞—Ç—å –ø—É—Ç–∞–Ω–∏—Ü—ã –≤ –Ω–∞—à–µ–º –æ–±—â–µ–Ω–∏–∏:)
–ù–∞–ø—Ä–∏–º–µ—Ä, –≤–æ—Ç —Ç–∞–∫:
    
<div class="alert alert-info">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞ <a class="tocSkip"> </h2>

*—Ç–≤–æ–π —Ç–µ–∫—Å—Ç*
</div>
    
–î–∞–≤–∞–π –ø–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ —Ç–≤–æ–π –ø—Ä–æ–µ–∫—Ç!

# –ü—Ä–æ–µ–∫—Ç –ø–æ SQL

## –ò–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –ø–æ –ø—Ä–æ–µ–∫—Ç—É

–ö–æ—Ä–æ–Ω–∞–≤–∏—Ä—É—Å –∑–∞—Å—Ç–∞–ª –º–∏—Ä –≤—Ä–∞—Å–ø–ª–æ—Ö, –∏–∑–º–µ–Ω–∏–≤ –ø—Ä–∏–≤—ã—á–Ω—ã–π –ø–æ—Ä—è–¥–æ–∫ –≤–µ—â–µ–π. –ù–∞ –∫–∞–∫–æ–µ-—Ç–æ –≤—Ä–µ–º—è –∂–∏—Ç–µ–ª–∏ –≥–æ—Ä–æ–¥–æ–≤ –ø–µ—Ä–µ—Å—Ç–∞–ª–∏ –≤—ã—Ö–æ–¥–∏—Ç—å –Ω–∞ —É–ª–∏—Ü—É, –ø–æ—Å–µ—â–∞—Ç—å –∫–∞—Ñ–µ –∏ —Ç–æ—Ä–≥–æ–≤—ã–µ —Ü–µ–Ω—Ç—Ä—ã. –ó–∞—Ç–æ —Å—Ç–∞–ª–æ –±–æ–ª—å—à–µ –≤—Ä–µ–º–µ–Ω–∏ –¥–ª—è –∫–Ω–∏–≥. –≠—Ç–æ –∑–∞–º–µ—Ç–∏–ª–∏ —Å—Ç–∞—Ä—Ç–∞–ø–µ—Ä—ã ‚Äî –∏ –±—Ä–æ—Å–∏–ª–∏—Å—å —Å–æ–∑–¥–∞–≤–∞—Ç—å –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è –¥–ª—è —Ç–µ—Ö, –∫—Ç–æ –ª—é–±–∏—Ç —á–∏—Ç–∞—Ç—å.
–í–∞—à–∞ –∫–æ–º–ø–∞–Ω–∏—è —Ä–µ—à–∏–ª–∞ –±—ã—Ç—å –Ω–∞ –≤–æ–ª–Ω–µ –∏ –∫—É–ø–∏–ª–∞ –∫—Ä—É–ø–Ω—ã–π —Å–µ—Ä–≤–∏—Å –¥–ª—è —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥ –ø–æ –ø–æ–¥–ø–∏—Å–∫–µ.

## –¶–µ–ª—å

–ü—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –±–∞–∑—É –¥–∞–Ω–Ω—ã—Ö. –í –Ω–µ–π ‚Äî –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –∫–Ω–∏–≥–∞—Ö, –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö, –∞–≤—Ç–æ—Ä–∞—Ö, –∞ —Ç–∞–∫–∂–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–µ –æ–±–∑–æ—Ä—ã –∫–Ω–∏–≥. –≠—Ç–∏ –¥–∞–Ω–Ω—ã–µ –ø–æ–º–æ–≥—É—Ç —Å—Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∞—Ç—å —Ü–µ–Ω–Ω–æ—Å—Ç–Ω–æ–µ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ –¥–ª—è –Ω–æ–≤–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞.

## –û–ø–∏—Å–∞–Ω–∏–µ —Ç–∞–±–ª–∏—Ü

–¢–∞–±–ª–∏—Ü–∞ `books`

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –∫–Ω–∏–≥–∞—Ö:

* `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
* `author_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
* `title` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–Ω–∏–≥–∏;
* `num_pages` ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–∞–Ω–∏—Ü;
* `publication_date` ‚Äî –¥–∞—Ç–∞ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –∫–Ω–∏–≥–∏;
* `publisher_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—è.  

–¢–∞–±–ª–∏—Ü–∞ `authors`

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∞–≤—Ç–æ—Ä–∞—Ö:

* `author_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
* `author` ‚Äî –∏–º—è –∞–≤—Ç–æ—Ä–∞.  

–¢–∞–±–ª–∏—Ü–∞ `publishers`

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö:

* `publisher_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;
* `publisher` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞.  

–¢–∞–±–ª–∏—Ü–∞ `ratings`

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ—Ü–µ–Ω–∫–∞—Ö –∫–Ω–∏–≥:

* `rating_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ—Ü–µ–Ω–∫–∏;
* `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
* `username` ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –æ—Å—Ç–∞–≤–∏–≤—à–µ–≥–æ –æ—Ü–µ–Ω–∫—É;
* `rating` ‚Äî –æ—Ü–µ–Ω–∫–∞ –∫–Ω–∏–≥–∏.  

–¢–∞–±–ª–∏—Ü–∞ `reviews`

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ–±–∑–æ—Ä–∞—Ö:

* `review_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ–±–∑–æ—Ä–∞;
* `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
* `usernam`e ‚Äî –∏–º—è –∞–≤—Ç–æ—Ä–∞ –æ–±–∑–æ—Ä–∞;
* `text` ‚Äî —Ç–µ–∫—Å—Ç –æ–±–∑–æ—Ä–∞.

## –ó–∞–¥–∞–Ω–∏—è

–í—ã–ø–æ–ª–Ω—è—Ç—å, –¥–µ–ª–∞—è –ø–æ –æ–¥–Ω–æ–º—É SQL-–∑–∞–ø—Ä–æ—Å—É  
### –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞;  
### –î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É;  
### –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü ‚Äî —Ç–∞–∫ –≤—ã –∏—Å–∫–ª—é—á–∏—Ç–µ –∏–∑ –∞–Ω–∞–ª–∏–∑–∞ –±—Ä–æ—à—é—Ä—ã;  
### –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ ‚Äî —É—á–∏—Ç—ã–≤–∞–π—Ç–µ —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏;  
### –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫.

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –º–µ–Ω—Ç–æ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –•–æ—Ä–æ—à–µ–µ –≤—Å—Ç—É–ø–ª–µ–Ω–∏–µ!
    
–í –Ω—ë–º –µ—Å—Ç—å –≤—Å—ë, —á—Ç–æ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ, —á—Ç–æ–±—ã –ø–æ–Ω—è—Ç—å —Å—É—Ç—å –ø—Ä–æ–µ–∫—Ç–∞ —Å –ø–µ—Ä–≤—ã—Ö —Å—Ç—Ä–æ–∫ –æ—Ç—á—ë—Ç–∞!

## –í—ã–ø–æ–ª–Ω–µ–Ω–∏–µ –∑–∞–¥–∞–Ω–∏–π

### –ò–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –±–∏–±–ª–∏–æ—Ç–µ–∫–∏

In [1]:
import pandas as pd
import sqlalchemy as sa

### –ù–∞—Å—Ç—Ä–∞–∏–≤–∞–µ–º –ø–æ–¥–∫–ª—é—á–µ–Ω–∏–µ

In [2]:
# —É—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ–º –ø–∞—Ä–∞–º–µ—Ç—Ä—ã
db_config = {
'user': 'praktikum_student', # –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è
'pwd': 'Sdf4$2;d-d30pp', # –ø–∞—Ä–æ–ª—å
'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
'port': 6432, # –ø–æ—Ä—Ç –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è
'db': 'data-analyst-final-project-db' # –Ω–∞–∑–≤–∞–Ω–∏–µ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö
}
connection_string = 'postgresql://{user}:{pwd}@{host}:{port}/{db}'.format(**db_config)

# —Å–æ—Ö—Ä–∞–Ω—è–µ–º –∫–æ–Ω–Ω–µ–∫—Ç–æ—Ä
engine = sa.create_engine(connection_string, connect_args={'sslmode':'require'})

# —á—Ç–æ–±—ã –≤—ã–ø–æ–ª–Ω–∏—Ç—å SQL-–∑–∞–ø—Ä–æ—Å, –ø–∏—à–µ–º —Ñ—É–Ω–∫—Ü–∏—é —Å –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ–º Pandas
def get_sql_data(query:str, engine:sa.engine.base.Engine=engine) -> pd.DataFrame:
    '''–û—Ç–∫—Ä—ã–≤–∞–µ–º —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ, –ø–æ–ª—É—á–∞–µ–º –¥–∞–Ω–Ω—ã–µ –∏–∑ sql, –∑–∞–∫—Ä—ã–≤–∞–µ–º —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ'''
    with engine.connect() as con:
        return pd.read_sql(sql=sa.text(query), con = con)

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –º–µ–Ω—Ç–æ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ë–∏–±–ª–∏–æ—Ç–µ–∫–∏ –∏–º–ø–æ—Ä—Ç–∏—Ä–æ–≤–∞–ª–∏, –∫–æ–Ω–Ω–µ–∫—Ç–æ—Ä —Å–¥–µ–ª–∞–ª–∏ - –æ—Ç–ª–∏—á–Ω–æ!

### –ò—Å—Å–ª–µ–¥—É–µ–º —Ç–∞–±–ª–∏—Ü—ã

In [3]:
tables = ['books', 'authors', 'publishers', 'ratings', 'reviews']
for table_name in tables:
    query = f"SELECT * FROM {table_name} LIMIT 5"
    display(get_sql_data(query))

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before C...,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268

   author_id                          author
0          1                      A.S. Byatt
1          2  Aesop/Laura Harris/Laura Gibbs
2          3                 Agatha Christie
3          4                   Alan Brennert
4          5        Alan Moore/David   Lloyd

   publisher_id                          publisher
0             1                                Ace
1             2                           Ace Book
2             3                          Ace Books
3             4                      Ace Hardcover
4             5  Addison Wesley Publishing Company

   rating_id  book_id       username  rating
0          1        1     ryanfranco       4
1          2        1  grantpatricia       2
2          3        1   brandtandrea       5
3          4        2       lorichen       3
4          5        2    mariokeller       2

,review_id,book_id,username,text
0,1,1,brandtandrea,Mention society tell send professor analysis. ...
1,2,1,ryanfranco,Foot glass pretty audience hit themselves. Amo...
2,3,2,lorichen,Listen treat keep worry. Miss husband tax but ...
3,4,3,johnsonamanda,Finally month interesting blue could nature cu...
4,5,3,scotttamara,Nation purpose heavy give wait song will. List...

In [4]:
tables = ['books', 'authors', 'publishers', 'ratings', 'reviews']
for table_name in tables:
    query = f"SELECT COUNT(*) FROM {table_name}"
    display(f"–í —Ç–∞–±–ª–∏—Ü–µ {table_name} —Å—Ç—Ä–æ–∫:")
    display(get_sql_data(query))
    display()

'–í —Ç–∞–±–ª–∏—Ü–µ books —Å—Ç—Ä–æ–∫:'

   count
0   1000

'–í —Ç–∞–±–ª–∏—Ü–µ authors —Å—Ç—Ä–æ–∫:'

   count
0    636

'–í —Ç–∞–±–ª–∏—Ü–µ publishers —Å—Ç—Ä–æ–∫:'

   count
0    340

'–í —Ç–∞–±–ª–∏—Ü–µ ratings —Å—Ç—Ä–æ–∫:'

   count
0   6456

'–í —Ç–∞–±–ª–∏—Ü–µ reviews —Å—Ç—Ä–æ–∫:'

   count
0   2793

**–í—ã–≤–æ–¥**  
- –≤ –¥–∞–Ω–Ω—ã—Ö –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–æ 5 —Ç–∞–±–ª–∏—Ü: 
 - –≤ —Ç–∞–±–ª–∏—Ü–µ `books` 1000 —Å—Ç—Ä–æ–∫
 - –≤ —Ç–∞–±–ª–∏—Ü–µ `authors` 636 —Å—Ç—Ä–æ–∫
 - –≤ —Ç–∞–±–ª–∏—Ü–µ `publishers` 340 —Å—Ç—Ä–æ–∫ 
 - –≤ —Ç–∞–±–ª–∏—Ü–µ `ratings` 6456 —Å—Ç—Ä–æ–∫
 - –≤ —Ç–∞–±–ª–∏—Ü–µ `reviews` 2793 —Å—Ç—Ä–æ–∫–∏

### –ó–∞–¥–∞–Ω–∏–µ ‚Ññ1

–ü–æ—Å—á–∏—Ç–∞–π—Ç–µ, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞;

In [5]:
query = '''
        SELECT count(book_id)
        FROM books
        WHERE publication_date > '2000-01-01' 
        '''
get_sql_data(query)

   count
0    819

- –ü–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞ –≤—ã—à–ª–æ 819 –∫–Ω–∏–≥

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –º–µ–Ω—Ç–æ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ü—Ä–∞–≤–∏–ª—å–Ω–æ!
    
–û—Ç–º–µ—á—É, —á—Ç–æ —É—Å–ª–æ–≤–∏–µ —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏–∏ `publication_date >= '2000-01-01' ` —Ç–∞–∫–∂–µ –±—ã–ª–æ –±—ã –ø—Ä–∞–≤–∏–ª—å–Ω—ã–º, —Ö–æ—Ç—å –∏ –ø—Ä–∏–≤–µ–ª–æ –±—ã –∫ –¥—Ä—É–≥–æ–º—É —Ä–µ–∑—É–ª—å—Ç–∞—Ç—É - –≤ —Ä–µ–∞–ª—å–Ω—ã—Ö –ø—Ä–æ–µ–∫—Ç–∞—Ö –æ —Ç–æ–º, –≤–∫–ª—é—á–∞–µ—Ç—Å—è –ª–∏ –¥–∞—Ç–∞ –≤ –¥–∏–∞–ø–∞–∑–æ–Ω –∏–ª–∏ –Ω–µ—Ç, –≤—Å–µ–≥–¥–∞ —Å—Ç–æ–∏—Ç —É—Ç–æ—á–Ω—è—Ç—å –∑–∞—Ä–∞–Ω–µ–µ:)

</div>

### –ó–∞–¥–∞–Ω–∏–µ ‚Ññ2

–î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É

In [6]:
query = '''
WITH reviews_count as (SELECT book_id,
                              count(username) as amount_rev
                       FROM reviews
                       GROUP BY book_id),
                       
     avg_rating as (SELECT book_id,
                           ROUND(AVG(rating),2) as avg_rate
                    FROM ratings
                    GROUP BY book_id)
                    
SELECT b.title,
       rc.amount_rev,
       ar.avg_rate
FROM books as b
LEFT JOIN reviews_count as rc ON b.book_id = rc.book_id
LEFT JOIN avg_rating as ar ON b.book_id = ar.book_id
ORDER BY amount_rev DESC,
         avg_rate DESC
'''
display(get_sql_data(query).head(10))
get_sql_data(query).tail(10)

                                               title  amount_rev  avg_rate
0   The Cat in the Hat and Other Dr. Seuss Favorites         NaN      5.00
1  Disney's Beauty and the Beast (A Little Golden...         NaN      4.00
2                               Leonardo's Notebooks         NaN      4.00
3                          Essential Tales and Poems         NaN      4.00
4    Anne Rice's The Vampire Lestat: A Graphic Novel         NaN      3.67
5                            The Natural Way to Draw         NaN      3.00
6                            Twilight (Twilight  #1)         7.0      3.66
7  Harry Potter and the Prisoner of Azkaban (Harr...         6.0      4.41
8  Harry Potter and the Chamber of Secrets (Harry...         6.0      4.29
9                                     The Book Thief         6.0      4.26

                                            title  amount_rev  avg_rate
990                           The Social Contract         1.0      3.50
991  The Calvin and Hobbes Tenth Anniversary Book         1.0      3.50
992                                 The Bad Place         1.0      3.50
993                             The Bachman Books         1.0      3.33
994                 Debt of Honor (Jack Ryan  #7)         1.0      3.00
995                           Moo  Baa  La La La!         1.0      3.00
996                Death: The High Cost of Living         1.0      3.00
997                             History of Beauty         1.0      2.50
998          Tsubasa: RESERVoir CHRoNiCLE  Vol. 1         1.0      2.50
999            1 000 Places to See Before You Die         1.0      2.50

 - –ü–æ—Å—á–∏—Ç–∞–ª–∏ –¥–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥
 - –ò–º–µ—é—Ç—Å—è –∫–Ω–∏–≥–∏ –±–µ–∑ –æ–±–∑–æ—Ä–æ–≤ 
 - –ú–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ - 7
 - –º–∏–Ω–∏–º–∞–ª—å–Ω–æ–µ –∫–æ–ª–∏—á–µ—Ç—Å–≤–æ –æ–±–∑–æ—Ä–æ–≤ -1

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –º–µ–Ω—Ç–æ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ú–µ—Ç—Ä–∏–∫–∏ –¥–ª—è –∫–Ω–∏–≥ –ø–æ—Å—á–∏—Ç–∞–Ω—ã –≤–µ—Ä–Ω–æ! –ó–¥–æ—Ä–æ–≤–æ, —á—Ç–æ –º–µ—Ç—Ä–∏–∫–∏ –ø–æ—Å—á–∏—Ç–∞–Ω—ã –∏ –¥–ª—è —Ç–µ—Ö –∫–Ω–∏–≥, –¥–ª—è –∫–æ—Ç–æ—Ä—ã—Ö –Ω–µ—Ç –æ—Ç–∑—ã–≤–æ–≤ - –¥–æ–≤–æ–ª—å–Ω–æ —á–∞—Å—Ç–∞—è –æ—à–∏–±–∫–∞ –≤ —ç—Ç–æ–º –∑–∞–¥–∞–Ω–∏–∏:)

</div>

### –ó–∞–¥–∞–Ω–∏–µ ‚Ññ3

–û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü ‚Äî —Ç–∞–∫ –≤—ã –∏—Å–∫–ª—é—á–∏—Ç–µ –∏–∑ –∞–Ω–∞–ª–∏–∑–∞ –±—Ä–æ—à—é—Ä—ã

In [7]:
query = '''
WITH publish as (SELECT b.book_id,
                        p.publisher
                 FROM books as b
                 JOIN publishers as p ON b.publisher_id = p.publisher_id
                 WHERE b.num_pages > 50)
                 
SELECT publisher,
       COUNT(book_id) as amount_books
FROM publish
GROUP BY publisher
ORDER BY COUNT(book_id) DESC
LIMIT 1
'''
get_sql_data(query)

       publisher  amount_books
0  Penguin Books            42

 - –ò–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ `Penguin Books` –≤—ã–ø—É—Å—Ç–∏–ª–æ 42 –∫–Ω–∏–≥–∏ —Ç–æ–ª—â–∏–Ω–æ–π –±–æ–ª—å—à–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –º–µ–Ω—Ç–æ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ò–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ –æ–ø—Ä–µ–¥–∏–ª–∏ –≤–µ—Ä–Ω–æ! –ó–¥–æ—Ä–æ–≤–æ, —á—Ç–æ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ –≤—ã–≤–µ–¥–µ–Ω–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞:)

</div>

### –ó–∞–¥–∞–Ω–∏–µ ‚Ññ4

–û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ ‚Äî —É—á–∏—Ç—ã–≤–∞–π—Ç–µ —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏

In [8]:
query = '''
WITH book_rate AS (SELECT r.book_id,
                             AVG(r.rating) AS avg_rating,
                             COUNT(r.rating) AS total_ratings
                   FROM ratings r
                   GROUP BY r.book_id
                   HAVING COUNT(r.rating) >= 50),
                      
     author_avg_rate AS (SELECT a.author_id,
                                SUM(br.total_ratings) AS total_ratings,
                                AVG(br.avg_rating) AS avg_rating
                         FROM authors a
                         JOIN books b ON a.author_id = b.author_id
                         JOIN book_rate br ON b.book_id = br.book_id
                         GROUP BY a.author_id)
                                
SELECT a.author,
       aar.total_ratings,
       ROUND(aar.avg_rating,2) AS avg_rate
FROM authors a
JOIN author_avg_rate aar ON a.author_id = aar.author_id
ORDER BY aar.avg_rating DESC
LIMIT 1
'''
get_sql_data(query)

                       author  total_ratings  avg_rate
0  J.K. Rowling/Mary GrandPr√©          310.0      4.28

- –ê–≤—Ç–æ—Ä —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ `J.K. Rowling/Mary GrandPr√©`
- –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ—Ü–µ–Ω–æ–∫ 310
- —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥ 4.28

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –º–µ–Ω—Ç–æ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ê–≤—Ç–æ—Ä —Å —Å–∞–º—ã–º –≤—ã—Å–æ–∫–∏–º —Å—Ä–µ–¥–Ω–∏–º —Ä–µ–π—Ç–∏–Ω–≥–æ–º –Ω–∞–π–¥–µ–Ω –≤–µ—Ä–Ω–æ! –ö–ª–∞—Å—Å–Ω–æ, —á—Ç–æ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ –≤—ã–≤–µ–¥–µ–Ω —Å–∞–º —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥ - –∏–º–µ–Ω–Ω–æ –≤ –µ–≥–æ —Ä–∞—Å—á—ë—Ç–µ –æ–±—ã—á–Ω–æ –¥–µ–ª–∞—é—Ç –æ—à–∏–±–∫–∏:)

</div>

### –ó–∞–¥–∞–Ω–∏–µ ‚Ññ5

–ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫

In [9]:
query = '''
WITH user_rate AS (SELECT username,
                          COUNT(rating_id) AS rate_count
                   FROM ratings
                   GROUP BY username
                   HAVING COUNT(rating_id) > 48),
                                 
user_reviews AS (SELECT username,
                        COUNT(review_id) AS reviews_count
                 FROM reviews
                 WHERE username IN (SELECT username FROM user_rate)
                                   GROUP BY username)
                 
SELECT ROUND(AVG(reviews_count),2) AS avg_reviews
FROM user_reviews
'''
get_sql_data(query)

   avg_reviews
0         24.0

 - 24 - –°—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –º–µ–Ω—Ç–æ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –°—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫, –ø–æ—Å—á–∏—Ç–∞–Ω–æ –≤–µ—Ä–Ω–æ!

**–í—ã–≤–æ–¥—ã:** 

- –≤ –¥–∞–Ω–Ω—ã—Ö –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–æ 5 —Ç–∞–±–ª–∏—Ü: 
 - –≤ —Ç–∞–±–ª–∏—Ü–µ `books` 1000 —Å—Ç—Ä–æ–∫
 - –≤ —Ç–∞–±–ª–∏—Ü–µ `authors` 636 —Å—Ç—Ä–æ–∫
 - –≤ —Ç–∞–±–ª–∏—Ü–µ `publishers` 340 —Å—Ç—Ä–æ–∫ 
 - –≤ —Ç–∞–±–ª–∏—Ü–µ `ratings` 6456 —Å—Ç—Ä–æ–∫
 - –≤ —Ç–∞–±–ª–∏—Ü–µ `reviews` 2793 —Å—Ç—Ä–æ–∫–∏  
- –ü–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞ –≤—ã—à–ª–æ 819 –∫–Ω–∏–≥
- –ü–æ—Å—á–∏—Ç–∞–ª–∏ –¥–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥
 - –ò–º–µ—é—Ç—Å—è –∫–Ω–∏–≥–∏ –±–µ–∑ –æ–±–∑–æ—Ä–æ–≤ 
 - –ú–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ - 7
 - –º–∏–Ω–∏–º–∞–ª—å–Ω–æ–µ –∫–æ–ª–∏—á–µ—Ç—Å–≤–æ –æ–±–∑–æ—Ä–æ–≤ -1
- –ò–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ `Penguin Books` –≤—ã–ø—É—Å—Ç–∏–ª–æ 42 –∫–Ω–∏–≥–∏ —Ç–æ–ª—â–∏–Ω–æ–π –±–æ–ª—å—à–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü
- –ê–≤—Ç–æ—Ä —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ `J.K. Rowling/Mary GrandPr√©`
 - –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ—Ü–µ–Ω–æ–∫ 310
 - —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥ 4.28
- 24 - –°—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫

<div style="border:solid Chocolate 2px; padding: 40px">

# –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –º–µ–Ω—Ç–æ—Ä–∞: –∏—Ç–æ–≥–æ–≤—ã–π –≤—ã–≤–æ–¥ –ø–æ –ø—Ä–æ–µ–∫—Ç—É.

–ê–ª–µ–∫—Å–∞–Ω–¥—Ä, –≤–æ—Ç –º—ã –∏ –ø—Ä–µ–æ–¥–æ–ª–µ–ª–∏ —Ñ–∏–Ω–∏—à–Ω—É—é —á–µ—Ä—Ç—É - –ø–æ–∑–¥—Ä–∞–≤–ª—è—é —Å –∑–∞–≤–µ—Ä—à–µ–Ω–∏–µ–º —Ñ–∏–Ω–∞–ª—å–Ω–æ–≥–æ —Å–ø—Ä–∏–Ω—Ç–∞!
    
–ü—Ä–æ–¥–µ–ª–∞–Ω–∞ –±–µ–∑ —Å–æ–º–Ω–µ–Ω–∏—è –∫—Ä—É—Ç–∞—è –∏ —Ç—è–∂—ë–ª–∞—è —Ä–∞–±–æ—Ç–∞, –∏ –≤—Å–µ –ø—Ä–æ–µ–∫—Ç—ã —Ñ–∏–Ω–∞–ª—å–Ω–æ–≥–æ —Å–ø—Ä–∏–Ω—Ç–∞ —É–¥–∞–¥–æ—Å—å –≤—ã–ø–æ–ª–Ω–∏—Ç—å –Ω–∞ –¥–æ—Å—Ç–æ–π–Ω–æ–º —É—Ä–æ–≤–Ω–µ - —É–≤–µ—Ä–µ–Ω, –µ—Å–ª–∏ —Ä–µ—à–∏—à—å —Ä–∞–∑–≤–∏–≤–∞—Ç—å—Å—è –¥–∞–ª—å—à–µ –≤ –Ω–∞–ø—Ä–∞–≤–ª–µ–Ω–∏–∏ –∞–Ω–∞–ª–∏—Ç–∏–∫–∏, —Ç–µ–±—è –∂–¥—ë—Ç —É—Å–ø–µ—Ö –∏ —Ö–æ—Ä–æ—à–∏–π —Ä–æ—Å—Ç:)
    
–°–ø–∞—Å–∏–±–æ –∑–∞ —Ö–æ—Ä–æ—à—É—é —Ä–∞–±–æ—Ç—É –Ω–∞–¥ –ø—Ä–æ–µ–∫—Ç–∞–º–∏ —Ñ–∏–Ω–∞–ª—å–Ω–æ–≥–æ —Å–ø—Ä–∏–Ω—Ç–∞, –∂–µ–ª–∞—é –¥–∞–ª—å–Ω–µ–π—à–µ–≥–æ –ø—Ä–æ—Ñ–µ—Å—Å–∏–æ–Ω–∞–ª—å–Ω–æ–≥–æ —Ä–æ—Å—Ç–∞ –∏ —Ä–∞–∑–≤–∏—Ç–∏—è, –ø—Ä–æ–µ–∫—Ç–æ–≤ –¥–ª—è –ø—Ä–∏–º–µ–Ω–µ–Ω–∏—è –Ω–∞ –ø—Ä–∞–∫—Ç–∏–∫–µ –ø–æ–ª—É—á–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π, –∞ —Ç–∞–∫–∂–µ –∞–¥–µ–∫–≤–∞—Ç–Ω—ã—Ö –∑–∞–∫–∞–∑—á–∏–∫–æ–≤:)